<footer class="footer bg-light py-3 mt-auto">
    <div class="text-center">
        <span><img src="https://res.cloudinary.com/dutmy2j89/image/upload/v1640506426/YelpCamp/Logo_pxtjfn.svg" alt="yelp-camp-logo"></span>
    </div>
</footer>