<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/home.css">

<div class="content">
<picture>
    <source media="(min-width:769px)" srcset="https://res.cloudinary.com/dutmy2j89/image/upload/v1641273483/YelpCamp/indexD_pnvqyw.jpg">
    <img id="camp-img" src="https://res.cloudinary.com/dutmy2j89/image/upload/v1641273629/YelpCamp/indexM-min_ncncze.jpg" alt="camp">
</picture>
<main>
<h1>Explore the best camps on Earth.</h1>
<p class="main-text">YelpCamp is a curated list of the best camping spots on Earth. Unfiltered and unbiased reviews.</p>
<div class="box">
    <img src="https://res.cloudinary.com/dutmy2j89/image/upload/v1640506425/YelpCamp/Checkmark_gevypz.svg" alt="check">
    <p>Add your own camp suggestions.</p>
</div>
<div class="box">
    <img src="https://res.cloudinary.com/dutmy2j89/image/upload/v1640506425/YelpCamp/Checkmark_gevypz.svg" alt="check">
    <p>Leave reviews and experiences.</p>
</div>
<div class="box">
    <img src="https://res.cloudinary.com/dutmy2j89/image/upload/v1640506425/YelpCamp/Checkmark_gevypz.svg" alt="check">
    <p>See locations for all camps.</p>
</div>
<a href="/campgrounds"><button class="main-button">View Campgrounds</button></a>
</main>
</div>