body {
    background-color: #dfe7fd;
    margin: 0;
}

.content {
    display: flex;
    flex-direction: row-reverse;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline: 4rem;
}

main h1 {
    font-family: 'Mukta', sans-serif;
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 3.5rem;
    margin-bottom: 1rem;
}

main p {
    font-family: 'Mukta', sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 2rem;
}

.main-text{
    margin-block: 0.5rem;
}

.box {
    display: flex;
    align-items: center;
}

.box p {
    margin: 0.5rem;
    margin-left: 0.5rem;
}

.main-button {
    margin-top: 2rem;
    font-family: 'Mukta', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    width: 20vw;
}

picture img{
    width: 50vw;
    height: 100vh;
    object-fit: cover;
    display: block;
}

@media(max-width: 769px){
    .content {
        flex-direction: column;
        margin-bottom: 4rem;
    }
    picture img {
        width: 100%;
        height: auto;
    }
    main {
        max-width: 80rem;
    }
    main h1 {
        margin-top: 2rem;
        font-size: 3rem;
    }
    .main-button {
        width: 25vw;
    }
}

@media(max-width: 500px){
    .content {
        margin-bottom: 2rem;
    }
    main {
        display: flex;
        padding-inline: 2rem;
    }
    main h1 {
        font-size: 2rem;
        line-height: 2rem;
    }
    main p {
        font-size: 1rem;
    }
    main a {
        margin: auto;
    }
    .main-button {
        font-size: 1rem;
        width: 50vw;
        margin: auto;
        margin-top: 1rem;
        padding: 0.5rem 1rem;
    }
}