<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/forms.css">
    
<div class="content">
    <div class="main-form">
        <div class="item">
            <%- include('../partials/flash') %>
        <h1>Start Exploring camps from all around the world.</h1>
        <form action="/login" method="POST" class="validated-form" novalidate>
            <div class="mb-3">
                <label class="form-label" for="username">Username</label>
                <input class="form-control" type="text" id="username" name="username" required autofocus placeholder="Enter your username">
                <div class="valid-feedback">
                    Looks Good!
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="password">Password</label>
                <input class="form-control" type="password" id="password" name="password" required placeholder="Enter your password">
                <div class="valid-feedback">
                    Looks Good!
                </div>
            </div>
            <button class="button">Login</button>
            <p>Not a user yet?
                <a href="/register">Create an account</a>
            </p>
        </form>
            </div>
        </div>

        <div class="testimonial">
            <div class="item">
                <p>"YelpCamp has honestly saved me hours of research time, and the camps on here are definitely well picked and added."</p>
                <div class="user">
                    <div class="image"><img src="https://res.cloudinary.com/dutmy2j89/image/upload/v1640608562/YelpCamp/User_Testimonial_alrz03.svg" alt="may andrews"></div>
                    <div>
                        <div class="info1">May Andrews</div>
                        <div class="info2">Professional Hiker</div>
                    </div>
                </div>
        </div>
    </div>
</div>